.secao {
    background-color: #9F91CC;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 1.6em;
    margin: 1.3em 0.6em;
}

.secao a {
    text-decoration: none;
}

.box {
    display: flex;
    padding-bottom: 1em;
}

.box__item p {
    border: 1px solid black;
    padding: 1em;
    width: 50%;
    border-radius: 5px;
    margin: 0 0 1em 1em;
}

.box__item {
    display: flex;
    margin-left: 0.6em;
}

.box__item img {
    width: 30%;
    border-radius: 5px;
    margin: 0 0 1em 0;
}

.box__sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 0.6em;
    border: 1px solid black;
    width: 20%;
    padding: 1.5em;
    background-color: #9F91CC;
    text-align: center;
    border-radius: 5px;
    margin: 0 0 1em 0;
}

.box__sidebar a {
    text-decoration: none;
    background-color: #EEE0C9;
    padding: 0.8em;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.box__sidebar a:hover {
    background-color: rgb(174, 248, 171);
}